{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate "Password Reset Sent" %}{% endblock %}

{% block content %}
<div class="max-w-md mx-auto py-8 px-4 sm:px-6 lg:px-8">
    <div class="p-6 bg-white shadow-lg rounded-lg border">
        <h2 class="text-2xl font-bold mb-6 text-gray-900">{% translate "Password Reset Sent" %}</h2>
        <p class="text-gray-600">
            {% blocktranslate %}We have sent you an email. If you have not received it please check your spam folder. Otherwise, contact us if you do not receive it within a few minutes.{% endblocktranslate %}
        </p>
    </div>
</div>
{% endblock %}
