<div class="space-y-4">
    {% for item in items %}
        {% with item_id=forloop.counter %}
        <div class="border rounded-lg shadow-sm">
            <h3 class="text-lg m-0 p-0">
                <button 
                    @click="openItem = (openItem === '{{ item_id }}' ? null : '{{ item_id }}')"
                    class="flex justify-between items-center w-full text-left p-4 font-medium text-gray-900 focus:outline-none focus:ring-2 focus:ring-blue-500"
                    :aria-expanded="openItem === '{{ item_id }}'"
                    aria-controls="answer-{{ item_id }}"
                    id="question-{{ item_id }}"
                >
                    {{ item.q }}
                    <svg class="w-5 h-5 transition-transform duration-300" :class="{ 'rotate-180': openItem === '{{ item_id }}' }" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
                </button>
            </h3>

            <div 
                x-show="openItem === '{{ item_id }}'"
                x-collapse
                class="p-4 pt-0 text-base text-gray-600"
                role="region"
                aria-labelledby="question-{{ item_id }}"
                id="answer-{{ item_id }}"
            >
                {{ item.a|safe }} 
            </div>
        </div>
        {% endwith %}
    {% endfor %}
</div>