<!DOCTYPE html>
<html>
<head>
    <title>Action Required: Please Reschedule Your Session</title>
</head>
<body>
    <p>Hi {{ client.first_name|default:client.username }},</p>
    <p>Due to a change in your coach's availability, your session for <strong>{{ session.offering.name }}</strong> scheduled for {{ session.start_time|date:"F j, Y, P" }} needs to be rescheduled.</p>
    <p>Please use the link below to find a new time that works for you. Your session credit has been returned to your account for this purpose.</p>
    <p><a href="{{ reschedule_url }}">Reschedule Your Session</a></p>
    <p>We apologize for any inconvenience.</p>
    <p>Best,<br>The JH Motiv LTD Team</p>
</body>
</html>