<!DOCTYPE html>
<html>
<head>
    <title>Coach Swap Request</title>
</head>
<body>
    <p>Hi {{ recipient.first_name|default:recipient.username }},</p>
    <p>Coach {{ swap_request.initiating_coach.get_full_name|default:swap_request.initiating_coach.username }} has requested you to take over their session with {{ swap_request.session.client.get_full_name|default:swap_request.session.client.username }}.</p>
    <p><strong>Session:</strong> {{ swap_request.session.offering.name }}</p>
    <p><strong>Time:</strong> {{ swap_request.session.start_time|date:"F j, Y, P" }}</p>
    <p>Please use the link below to accept or decline this request:</p>
    <p><a href="{{ response_url }}">Respond to Swap Request</a></p>
    <p>Best,<br>The JH Motiv LTD Team</p>
</body>
</html>