{% extends 'base.html' %}
{% load static %}

{% block title %}Server Error{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/core.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="error-page-container">
        <p class="error-code" style="color: var(--red-500, #ef4444);">500</p>
        <h1 class="error-title">Internal Server Error</h1>
        <p class="error-message">
            We're sorry, but something went wrong on our end. Our team has been notified and we are working to fix it.
        </p>
        <a href="{% url 'core:home' %}" class="btn-primary">
            &larr; Go Back Home
        </a>
    </div>
</div>
{% endblock %}